@import url("https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    min-width:1200px;
    overflow-x:auto;
    background:#353A3E !important;
    font-family: 'S-CoreDream-3Light', sans-serif;
    margin:0;
}
#wrapper { padding:20px; }
#navWrapper { background:#1C2733; }
#subNav {
    padding: 20px;
    font-size:20px;
    color:white;
    font-weight: bold;
    font-family: 'S-CoreDream-8Heavy', sans-serif;
}
#nav {
    display:grid;
    grid-template-columns: 4fr repeat(3, 2fr);
    width:800px;
} 

#nav div, #nav a {
    display:block;
    padding:10px;
    font-weight: bold;
    line-height:50px;
    vertical-align: middle;
    color:white;
    text-decoration: none;
}
#nav div { font-size:26px; }
#nav a { text-align:center; }
.main-header {
    font-style:italic;
}
#nav a.router-link-exact-active {
    background:#22c1d0;
    color:white;
}
.wrapper {
    border-radius:2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0,.5)!important;
    border:1px solid #22c1d0;
    overflow:hidden;
    background:#191D26;
    color : #22c1d0;
}
.wrapper.secondary {
    background:#1E2732;
}
.wrapper .title {
    display:block;
    background: linear-gradient(to right, #35acb8, #28828a);
    color:white;
    font-family: 'S-CoreDream-6Bold', sans-serif;
    font-size:18px;
    padding:10px;
    margin-bottom:10px;
}
.wrapper .title.secondary {
    background: #2B6F86 !important;
    font-size:16px;
    padding:5px;
}
.search-form { position: relative; color:white; }
input[type=text] {
    outline : none;
    color:white;
    padding:10px;
    background: #090e18!important;
    border: 1px solid #151c2a;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:100%;
    border-radius:3px;
}
input[type=text]:focus { border-color: #22C1D0; }
input[type=text]::placeholder { color:#aaa; }
.scroll-container::-webkit-scrollbar, .modal-table .ve-table-container::-webkit-scrollbar { width: 10px; }
.scroll-container::-webkit-scrollbar-thumb, .modal-table .ve-table-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.scroll-container::-webkit-scrollbar-track, .modal-table .ve-table-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.line-label {
    display:block;
    position:relative;
    overflow:hidden;
    font-size:16px;
    margin:0;
    z-index: 1;
}
.line-label:after {
    content:"\a0";
    position:absolute;
    overflow:hidden;
    display:inline-block;
    margin-left:10px;
    width:100%;
    height:1px;
    top:51%;
    background:#2b6f87;
}
input[type=button], button {
    background:#22c1d0;
    border:none;
    color:white;
    padding:5px;
    min-width:100px;
    cursor:pointer;
}
input[type=button].secondary, button.secondary {
    background:#FD2E5B !important;
}
.right-button {
    border:1px solid #22c1d0 !important;
    background: #1a6870 !important;;
    float: right;
}
.right-button:hover {
    background: #0d5a61 !important;;
}
.button-box {
    padding:10px;
    text-align:right;
}
.button-box input[type=button],
.button-box button {
    margin-left:10px;
}
.center { text-align:center !important; }
select {
    box-shadow: none;
    font-family : 'S-CoreDream-4Regular';
    background: #090e18!important;
    outline:none;
    color:white;
    border-color: #151c2a;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select:focus { border-color: #22C1D0; }

.warning { width:300px; height:200px; line-height:100px;}
.warning > div { text-align:center; vertical-align: middle;}
input[type=radio] { position: absolute; display: none; }
input[type=radio] + label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
input[type=radio] + label:empty:before {
    margin-right: 0;
}
input[type=radio]:checked + label:before {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
input[type=radio]:focus + label:before {
    outline: none;
    border-color: #3197ee;
}
input[type=radio]:disabled + label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
input[type=radio]:checked:disabled + label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #3197ee;
    background: #3197ee;
}
.table-container .ve-table-container { border:none !important;}
.table-container .ve-table-content { border-spacing: 0 3px !important;}
.table-container .ve-table-header-th {
    background:#284B6F !important;
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size:12pt !important;
    color: white !important;;
}
.modal-table thead tr {
    position:relative;
    top : -3px;
}
.table-container .ve-table-header th {
    border-bottom: none !important;
    padding: 0 10px !important;
}
.table-container .ve-table-body tr:not(:first-child) td { border:1px solid #203C59 !important; }
.table-container .ve-table-body tr td:not(:last-child) { border-right:none !important; }
.table-container .ve-table-body tr td:not(:first-child) { border-left:none !important; }
.table-container .ve-table-body-td {
    background: #0D111C !important;
    color: white!important;
    padding:0 10px !important;
}
.ve-pagination {
    background:rgba(0, 0, 0, 0)!important;
}
.ve-pagination span {
    color: white !important;;
}
.ve-pagination-li {
    background:rgba(0, 0, 0, .3)!important;
    border:1px solid #22c1d0 !important;
}
.ve-pagination-li a { color: #999 !important; }
.ve-pagination-li-active a { color: white !important; }

.tree-selected {
    color: #fff !important;
}
.button-group {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px;
}
.button-group input[type=button] { width:60px; }
.filter {
    width:300px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:10px;
}
.tree-wrapper {
    padding-top:10px;
    height:290px;
    overflow-y:scroll;
    margin:5px 0;
    border:1px solid #22c1d0;
    color:white;
    border-radius: 5px;
    transition:.2s;
}
.tree-wrapper .tree-anchor {
    transition:.2s;
}
.tree-wrapper .tree-anchor.tree-selected {
    font-weight: 900;
}
.tree-wrapper .tree-anchor.tree-selected:after {
    content:" >";

}
.list-box { list-style: none; padding:0;}