.modal-table .ve-table-container {
  &::-webkit-scrollbar { width: 10px; }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
}

.table-container {
  .ve-table-container {
    border: none !important;
  }
  .ve-table-content {
    border-spacing: 0 3px !important;
  }
  .ve-table-header-th {
    background: #284b6f !important;
    font-family: "S-CoreDream-3Light", sans-serif;
    font-size: 12pt !important;
    color: white !important;
  }
}
.modal-table {
  & thead tr {
    position: relative;
    top: -3px;
  }
}
.table-container {
  & .ve-table-header th {
    border-bottom: none !important;
    padding: 0 10px !important;
  }
  & .ve-table-body tr {
    &:not(:first-child) td {
      border: 1px solid #203c59 !important;
    }
    & td {
      &:not(:last-child) {
        border-right: none !important;
      }
      &:not(:first-child) {
        border-left: none !important;
      }
    }
  }
  & .ve-table-body-td {
    background: #0d111c !important;
    color: white !important;
    padding: 0 10px !important;
  }
}
.ve-pagination {
  background: rgba(0, 0, 0, 0) !important;
  & span { color: white !important; }
}
.ve-pagination-li {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #22c1d0 !important;

  & a { color: #999 !important; }
}
.ve-pagination-li-active a { color: white !important; }